@import "reset.css";
@import "fonts.css";

body, html {
    height: 100%;
}

html {
    background: #2472a2;
}

body {
    background: #ccdce5;
    color: #0a0a31;

    margin: 0 8vw;
    line-height: 1.6em;

    font-size: 2.5vw;
    font-family: "Red Hat Mono", monospace;
    font-weight: bolder;
}

main {
    height: 100%;
    margin: 0 16px;
    padding: 0 3vw 0 3vw;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #187329;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 24px 0 16px 0;
    border: 2px solid #2472a2;
    border-radius: 1px;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 3vw;
    color: #0c5481;
    font-weight: bolder;
}

h1 {
    position: relative;
    top: 0.4vw;
    color: #ab5d1f;
    float: right;
    text-align: right;
    font-size: 120%;
    font-family: "Gwendolyn Bold", serif;
}

h1 a,
h1 a:visited,
h1 a:active,
h1 a:hover {
    color: #ab5d1f;
    text-decoration: none;
}

h1 a:hover {
    color: #542c0d;
}

h2 {
    font-size: 160%;
}

h3 {
    padding-top: 1vw;
    font-weight: bold;
}

ul {
    width: 100%;
}

li span {
    display: inline-block;
}

h3,
li.image-tag-item {
    padding-bottom: 2vw;
}

li ul li {
   margin-left: 3vw;
}

.dict-key {
    width: 30vw;
}

.dict-key:after {
    content: ":";
}

.watermark {
    padding-top: 3vw;
    text-align: left;
    color: #bdced5;
    font-size: 2vw;
}

.watermark a,
.watermark a:visited,
.watermark a:active {
    color: #bdced5;
}

.watermark a:hover {
    color: skyblue;
}
