@import "reset.css";
@import "fonts.css";

body, html {
    height: 100%;
}

html {
    background: skyblue;
}

body {
    background: midnightblue;
    color: #c2eafc;
    font-size: 2vw;
    font-family: "Red Hat Mono", monospace;
    font-weight: lighter;
    line-height: 1.6em;
    margin: 0 5vw;
}

main {
    margin: 0 16px;
    padding: 32px 16px 0 16px;
}

a, a:visited {
    text-decoration: none;
    color: #45c5ff;
}

h2 {
    color: white;
    font-size: 180%;
    font-weight: bolder;
    margin-bottom: 32px;
}

h3 {
    font-weight: bold;
}

ul {
    width: 100%;
}

li span {
    display: inline-block;
}

li ul li {
   margin-left: 2vw;
}

.dict-key {
    width: 30vw;
}

.dict-key:after {
    content: ":";
}