{% extends "base.html" %}

{% block content %}
    <h2>{{ registry.name }}</h2>
    <ul>
    {% for repo in repositories %}
        <li>
            <h3>{{ repo.name }}</h3>
            <ul>
                {% for tag in repo.tags %}
                    <li>
                        <a href="">{{ tag.name }}</a>
                        <ul>
                            {% for k, v in tag.manifest.items() if k not in ["history", "signatures", "fsLayers"] %}
                                <li>
                                    <span class="dict-key">{{ k }}</span>
                                    <span class="dict-value">{{ v }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
